@import "tailwindcss" source(none);
@source "../../../public/*.html";
@source "../../../app/helpers/**/*.rb";
@source "../../../app/javascript/**/*.js";
@source "../../../app/views/**/*";

@plugin "daisyui" {
  themes: emerald --default, orpi-dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "orpi-dark";
  prefersdark: true;
  --color-base-100: oklch(25.33% 0.016 252.42);
  --color-base-200: oklch(23.26% 0.014 253.1);
  --color-base-300: oklch(21.15% 0.012 254.09);
  --color-base-content: oklch(97.807% 0.029 256.847);
  --color-primary: oklch(76.662% .135 153.45);
  --color-primary-content: oklch(33.387% .04 162.24);
  --color-secondary: oklch(61.302% .202 261.294);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(72.772% .149 33.2);
  --color-accent-content: oklch(0% 0 0);
  --color-info: oklch(72.06% .191 231.6);
  --color-info-content: oklch(0% 0 0);
  --color-success: oklch(64.8% .15 160);
  --color-success-content: oklch(0% 0 0);
  --color-warning: oklch(84.71% .199 83.87);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(71.76% .221 22.18);
  --color-error-content: oklch(0% 0 0);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@utility badge {
  @apply h-auto;
}