@use "sass:map";

$css-var-prefix: "--orpi-";
$css-class-prefix: "orpi-";



@use "@picocss/pico/scss/pico" as pico with (
  $css-var-prefix: $css-var-prefix,
  $theme-color: "slate"
);


@use "./variables.scss" as variables;
@use "./utilities.scss" as utilities;
@use "bootstrap-utilities/scss/bootstrap-utilities.scss" as bootstrap-utilities with (
  $prefix: $css-var-prefix,
  $utilities: utilities.$utilities,
  $breakpoints: (
    xs: 0,
    sm: map.get(pico.$breakpoints, sm, breakpoint),
    md: map.get(pico.$breakpoints, md, breakpoint),
    lg: map.get(pico.$breakpoints, lg, breakpoint),
    xl: map.get(pico.$breakpoints, xl, breakpoint),
    xxl: map.get(pico.$breakpoints, xxl, breakpoint)
  )
);


@use "@picocss/pico/scss/colors/utilities" as color-utilities with (
  $css-var-prefix: $css-var-prefix,
  $css-class-prefix: $css-class-prefix
);

:root {
  --orpi-form-element-spacing-vertical: 0.225rem;
  --orpi-form-element-spacing-horizontal: 1rem;
}