<nav class="container">
  <ul>
    <li><strong>Open Register of Penuciary Interests</strong></li>
  </ul>
  <ul>
    <li><a href="<%= root_path %>">Home</a></li>
    <li><a href="<%= individuals_path %>">Individuals</a></li>
    <li><a href="<%= interests_path %>">Interests</a></li>
    <li><a href="<%= about_path %>">About</a></li>
  </ul>
</nav>